{{ if .Wide -}}
DEVICE	PORT	LABEL	STATE	LINK SPEED	MODE	NATIVE VLAN	TAGGED VLANS	POE	LAG	SFP	RX/S	TX/S	CONNECTED TO
{{ range .Rows -}}
{{ .DeviceName }}	{{ .Number }}	{{ .Label }}	{{ .State }}	{{ .LinkSpeed }}	{{ .VlanMode }}	{{ .NativeVlan }}	{{ .TaggedVlans }}	{{ .PoeMode }}	{{ .LagInfo }}	{{ .SfpPresent }}	{{ .RxPerSec }}	{{ .TxPerSec }}	{{ .ConnectedToName }}
{{ end -}}
{{ else -}}
DEVICE	PORT	LABEL	STATE	MODE	NATIVE VLAN	TAGGED VLANS	CONNECTED TO
{{ range .Rows -}}
{{ .DeviceName }}	{{ .Number }}	{{ .Label }}	{{ .State }}	{{ .VlanMode }}	{{ .NativeVlan }}	{{ .TaggedVlans }}	{{ .ConnectedToName }}
{{ end -}}
{{ end -}}
